body {
  background-color: rgb(165, 214, 150);
}

h2 {
  color: red;
  text-align: center;
}

.resultdivs {
  position: relative;
}

h3 {
  display: inline;
  width: 200px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 10px;
}

p {
  display: block;
  bottom: 360px;
  width: 64%;
  height: 180px;
  padding: 15px;
  text-align: center;
  float: right;
  font-size: 23px;
  background-color: rgba(242, 250, 243, 0.80);
  border-radius: 1%;
  font-family: 'Lato', sans-serif;
}

h4 {
  text-align: center;
  display: inline;
  margin-left: 45%;
}

#firstResult, #secondResult, #thirdResult {
  clear: both;
}

iframe {
  margin-top: 5px;
  height: 240px;
  width: 66%;
  float: right;
  border: 0;
}

img {
  width: 33%;
  margin-top: 10px;
}
/*p, iframe, img {
  position: relative;
  float: left;
}

h3 {
  display: block;
}

#firstResult, #secondResult, #thirdResult {
  display: inline-block;
  background-color:
}

p {
  width: 400px;
  border-radius: 10px;
  background-color: rgba(173, 213, 169, 0.83);
}

.classdivs {
  float: left;
  position: absolute;
}*/
