h2 {
  color: red;
  text-align: center;
}

.resultdivs {
  position: relative;
}

h3 {
  display: inline;
  width: 200px;
}

p {
  display: block;
  width: 27%;
  float: right;
}

h4 {
  text-align: center;
  display: inline;
}

#firstResult, #secondResult, #thirdResult {
  clear: both;
}

}
/*p, iframe, img {
  position: relative;
  float: left;
}

h3 {
  display: block;
}

#firstResult, #secondResult, #thirdResult {
  display: inline-block;
  background-color:
}

p {
  width: 400px;
  border-radius: 10px;
  background-color: rgba(173, 213, 169, 0.83);
}

.classdivs {
  float: left;
  position: absolute;
}*/
