h2 {
  color: red;
  text-align: center;
}

.resultdivs {
  position: relative;
}

h3 {
  display: block;
  width: 200px;
}

p {
  display: block;
  width: 33%;
}

<<<<<<< HEAD
h4 {
  text-align: center;
}

=======
>>>>>>> 73cb7a85bbd68d0600b11e4df856329f1a57b080


/*p, iframe, img {
  position: relative;
  float: left;
}

h3 {
  display: block;
}

#firstResult, #secondResult, #thirdResult {
  display: inline-block;
  background-color:
}

p {
  width: 400px;
  border-radius: 10px;
  background-color: rgba(173, 213, 169, 0.83);
}

.classdivs {
  float: left;
  position: absolute;
}*/
