.fix{
  font-size: 0px;
  width:100%;
}

.box{
  display: inline-block;
  width: 33%;
  height: 200px;
  box-sizing: border-box;
}

.social{
    /*background-color: red;*/
}

.logo h1{
  font-size: 4vw;
  width: 74%;
  display:inline-block;
}

.logo i{
  width:6%;
  font-size:20px;
  display:inline-block;
}

.nav{
  font-size: 0;
  text-align: center;
}

.icon{
  font-size: 80px;
  position: relative;
  bottom: 50px;
  margin: 1px;
  margin-left: 1%;
}

.button{
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  width: 20%;
  padding: 10px;
  font-size: 1vw;
  position: relative;
  bottom: 50px;
  height: 30px;
}

a{
  text-decoration: none;
}
