.fix{
  font-size: 0px;
  width:100%;
  border: 2px solid black;
  background-color: white;
  opacity: .8;
  height: 160px;
}

.box{
  display: inline-block;
  width: 33%;
  height: 200px;
  box-sizing: border-box;
}

.logo h1{
  font-size: 4vw;
  width: 74%;
  display:inline-block;
  font-family: 'Lobster Two', cursive;
}

.logo i{
  width:6%;
  font-size:20px;
  display:inline-block;
}

.nav{
  font-size: 0;
  text-align: center;
}

.icon{
  font-size: 3vw;
  position: relative;
  margin: 1px;
  margin-left: 1%;
}

.button{
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  width: 30%;
  padding: 10px;
  font-size: 1vw;
  position: relative;
  height: 20px;
  margin: 1%;
}

a{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  background-color: #28bf20;
  color: white;
}

.fb{
  margin-left: 10%;
  color: #3B579D;
}

.twit{
  color: #1EA1F3;
}

.insta{
  color:#924CC8;
}

.pint{
  color: #BD081B;
}

.yt{
  color: #FF0000;
}

body{
  margin: 1px;
  background-image: url(../miscImages/parkBackgroundSmaller.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
